/* Use .si class to align SVG Icons */
.si {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
    vertical-align: middle;
    position: relative;
    top: -0.0625em;
    text-align: center;
    stroke-width: 0;
    overflow: visible;
}

#scroll-to-top {
    display: none;
}

/* Wordpress Loop Container Styles Start */
.loop-container {
    column-count: 1;
    column-gap: 0.75rem;
}
.loop-container article {
    break-inside: avoid;
    padding-top: 0.3rem;
    padding-bottom: 0.45rem;
}
@media (min-width: 576px) {
    .loop-container {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .loop-container {
        column-count: 3;
    }
}
/* Wordpress Loop Container Styles End */
