$primary: #7952b3;
$secondary: #455a64;

// Fonts
$font-family-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
	"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Links
$link-decoration: none;
$link-hover-decoration: underline;
