/*--------------------------------------------------------------
# Theme CSS
Loads UDS-Bootstrap-4 and appends additional styles as needed.

--------------------------------------------------------------*/

// Override image base path for theme css
$image-assets-path: "/wp-content/themes/pitchfork/src/img/asu-unity";

// Import Bootstrap.
@import "../src/sass/bootstrap-asu";

// Parials applicable to both theme (FE) and the editor.
@import 'theme/has-color';
@import 'theme/alignment';
@import 'theme/spacing';
@import 'theme/extras';
@import 'theme/core-blocks';
@import 'theme/page';
@import 'theme/single';

// Partials only applicable for the theme.

