/*--------------------------------------------------------------
# Style mods for core blocks.

- core/paragraph
- core/button
- core/list
- core/image
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1. core/paragraph
--------------------------------------------------------------*/

// Lead Paragraph
p.is-style-lead {
    @extend .lead;
}


/*--------------------------------------------------------------
2. core/button. Add styles from UDS-Bootstrap manually.
See: /inc/blocks:93 for explination. 
--------------------------------------------------------------*/

// Base class, applied at the <a> tag level.
a.wp-block-button__link {
    @extend .btn;
    @extend .btn-maroon;
    // Default size should be .md
}

// Size modifiers 
.wp-block-button.is-style-uds-sm a.wp-block-button__link {
    @extend .btn-sm;
}

.wp-block-button.is-style-uds-md a.wp-block-button__link {
    @extend .btn-md;
}

.wp-block-button.is-style-uds-lg a.wp-block-button__link {
    @extend .btn-lg;
}

// Color modifiers
a.wp-block-button__link {
    &.has-asu-maroon-background-color {
        @extend .btn-maroon;
    }
    &.has-asu-gold-background-color {
        @extend .btn-gold;
    }
    &.has-gray-4-background-color {
        @extend .btn-gray;
    }
    &.has-gray-7-background-color {
        @extend .btn-dark;
    }
}

/*--------------------------------------------------------------
3. core/list
--------------------------------------------------------------*/

.is-style-uds-list {
	@extend .uds-list;
}

.is-style-uds-steplist {
	@extend .uds-list;
    @extend .uds-steplist;
}

.is-style-uds-steplist-maroon {
	@extend .uds-list;
    @extend .uds-steplist;
    @extend .uds-steplist-maroon;
}

.is-style-uds-steplist-gold {
	@extend .uds-list;
    @extend .uds-steplist;
    @extend .uds-steplist-gold;
}

/*--------------------------------------------------------------
4. core/image
--------------------------------------------------------------*/
@mixin uds-figure {
    img {
        border: 1px solid $uds-color-base-gray-3;
    }
    
    figcaption {
        border: 1px solid $uds-color-base-gray-3;
        border-top: none;
        opacity: 1;
        background: #fff 0% 0% no-repeat padding-box;
        padding: 0.75rem;
        font-size: .75rem;
        
        // Default WP figcaption adds margin.
        margin-top: 0;
        margin-bottom: 0;
    }
}

.wp-block-image {

    &.is-style-plain {
        figcaption {
            margin-top: $uds-size-spacing-2;
        }
    }

    &.is-style-uds-figure {
        @include uds-figure;
    }

    &.is-style-drop-shadow {
        box-shadow: 0rem .5rem 1rem rgba(25,25,25,.2);
        @include uds-figure;
    }

    &.is-style-circular {
        @include uds-figure;

        img {
            border: none;
            border-radius: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }

        figcaption {
            border: none;
            text-align:center;
        }
    }
}

/*--------------------------------------------------------------
4. core/table
--------------------------------------------------------------*/
.wp-block-table {
    @extend .uds-table;
}


/*--------------------------------------------------------------
4. core/divider
--------------------------------------------------------------*/
.wp-block-separator {

    &.is-style-default {
        // The default UDS styles are directly applied to the HR element.
        border-top: 0;
        height: 1px;
        margin: 3rem 0;
        background-color: #d0d0d0;
    }

    &.is-style-copy-divider {

        // Cancels out styles applied to <hr> by UDS Boostrap 4
        background-color: transparent;
        
        // Applies gold bar style to psudo-element to avoid the use of max-width in the definition.
        &:after {
            content: '';
            height: 0.5rem;
            background-color: #ffc627;
            max-width: 16rem;
            width:100%;
            position: absolute;
        }
    }
}