/*--------------------------------------------------------------
1. Max width 1920px, align center
Replicated in _alignment.scss
--------------------------------------------------------------*/

// main > * {
// 	margin-left: auto;
// 	margin-right: auto;
// 	max-width: 1920px;
// }

/*--------------------------------------------------------------
2. Header title underline styles
--------------------------------------------------------------*/

.title .subdomain-name a {
	color: #191919;
	text-decoration: none;
}

.title .subdomain-name a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
3. BUG-FIX: .dropdown-pinned class appears at the wrong breakpoint.
--------------------------------------------------------------*/

// /* The included JS file for the global header accidently applies the .dropdown-pinned
// class to body tag when the menu is being displayed at the desktop viewport. This class
// is only meant to be applied to the screen when the mobile menu is being displayed. */

// /* The temporary fix is to overwrite the default behavior with a media query targeting
// the desktop viewport. (The breakpoint for the header is the XL breakpoint.) */

// @include media-breakpoint-up(xl) {
// 	.dropdown-pinned {
// 		overflow: initial;
// 		position: static;
// 	}
// }


/*---------------------------------------------------------------
 Fix Alert Close button
 To use the existing Javascript in Bootstrap to close alerts, you
 need to use the class 'alert-dismissible'. However, that class
 has some strong opinions on where buttons go. Here we override
 those settings to get UDS styles.
---------------------------------------------------------------*/
.alert-dismissible {
	//Remove alert-dismissible's 4rem right padding in favor of UDS 1rem.
	padding-right: $uds-size-spacing-2;
	& .close {
		//Remove alert-dismissible's absolute button positioning.
		position: relative;
	}
}

.alert-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.alert-close {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

/*---------------------------------------------------------------
 Adjust position of icon and close button on XS

 Margins were being applied to both the icon and close button
 on XS, essentially to maximize the room available for text, but
 it ended up putting the icon, text, and close button all on
 different lines - nothing was aligned at all.
---------------------------------------------------------------*/
@media screen and (max-width: $uds-breakpoint-lg) {
	// Ensure some extra space between the content and the close button
	.alert .alert-content {
		margin-right: $uds-size-spacing-2;
	}
	// remove the 1rem top margin that is added to the icon on mobile.
	.alert .alert-icon svg {
		margin-top: 0 !important;
	}

	// Reposition the close button on smaller screens.
	.alert .alert-close {
		// Remove the negative margin on the close button used to move it up and right.
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: 0;
		margin-right: 0;
	}
}

/*--------------------------------------------------------------
Fixes an issue with a gap between the header and the block that immediately follows.
** Problem not present in Pitchfork
--------------------------------------------------------------*/
// // Desktop
// @include media-breakpoint-up(xl) {
// 	#asu-header + div,
// 	#asu-header + main {
// 	@include transition;
// 	margin-top: 144px;
// 	}
// }

// @include media-breakpoint-down(lg) {
// 	#asu-header + div,
// 	#asu-header + main {
// 		@include transition;
// 		margin-top: 113px;
// 	}
// }

/*--------------------------------------------------------------
Allow admin bar to set above grey bar in header when logged in.
--------------------------------------------------------------*/
#wpadminbar + #asu-header.fixed-top {
	top: 32px !important;
}

@include media-breakpoint-down(sm) {
	#wpadminbar + #asu-header.fixed-top {
		top: 46px !important;
	}
}

// The admin bar is not at a fixed position on mobile.
// But, since the header is still fixed, the admin bar will overlap the header.
// Fixing the header on mobile prevents further oddness.
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}

/*--------------------------------------------------------------
Fix content alignment issues between header/content/footer
Moved to alignment.scss and implemented in Bootstrap 4 library.
--------------------------------------------------------------*/

// #header-main .navbar,
// #footer-columns.container {
// 	padding-left: 12px;
// 	padding-right: 12px;
// }

// @media (max-width: 991.98px) {
// 	#footer-innovation .footer-innovation-links .nav {
// 		order:2;
// 		padding: 0 ;
// 	}

// 	#footer-innovation .footer-innovation-links .img-link{
// 		order:1;
// 	}

// 	#footer-colophon .nav{
// 		padding: 0;
// 	}
// }

// @media (max-width: 806px) {
// 	.container-fluid{
// 		padding-left: 0;
// 		padding-right: 0;
// 	}
// }

// footer .menu-social-media-container a.nav-link:last-of-type{
// 	padding-right: 0;
// }

// footer .menu-social-media-container a.nav-link:first-of-type{
// 	padding-left: 0;
// }

// footer #wrapper-footer-innovation .img-link{
// 	margin-right: 0;
// }

// .uds-hero-container,
// .container {
// 	.highlight-gold, .highlight-white, .highlight-black{
// 		box-shadow: 0 0 0 #ffc627, 0 0 0 #ffc627;
// 			padding-left: 0.15em;
// 			padding-right: 0.15em;
// 	}
// }

/*--------------------------------------------------------------
Add scope for modal window block.
--------------------------------------------------------------*/

.uds-modal{
	z-index: 1050;
	position: fixed;
}


/*--------------------------------------------------------------
BUG: Story hero layout breaks with oversized images.
--------------------------------------------------------------*/
.uds-story-hero .hero {
	width: 100%;
    max-height: 100%;
}