/*--------------------------------------------------------------
1. Mobile style includes a 2rem padding-left/right
--------------------------------------------------------------*/

main,
article {
	padding: 0 2rem;
}

@include media-breakpoint-up(xl) {

	main,
	article {
		padding: 0;
	}
}

/*--------------------------------------------------------------
2. Max width 1920px, align center, accomodate align-wide.
--------------------------------------------------------------*/

// Mobile styles.
main>*:not(.alignfull):not(.alignwide),
article>*:not(.alignfull):not(.alignwide) {
	margin-left: auto;
	margin-right: auto;
}

main>*.alignwide,
article>*.alignwide {
	margin-left: -1rem;
	margin-right: -1rem;
}

main>*.alignfull,
article>*.alignfull {
	margin-left: -2rem;
	margin-right: -2rem;
}


// Desktop styles.
@include media-breakpoint-up(xl) {

	main,
	article {
		&>*:not(.alignfull):not(.alignwide) {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	main,
	article {
		&>*.alignwide {
			max-width: 1450px;
			/* width of the wide blocks */
			margin-left: auto;
			margin-right: auto;
		}
	}

	main,
	article {
		&>*.alignfull {
			max-width: 1920px;
			/* width of the wide blocks */
			margin-left: auto;
			margin-right: auto;
		}
	}
}


// /*--------------------------------------------------------------
// 3. Align left, align right, align center.
// --------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}