/*--------------------------------------------------------------
# Style mods for core blocks.

- core/paragraph
- core/button
- core/image
- core/table
- core/divider
- core/post-template
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1. core/paragraph
--------------------------------------------------------------*/

// Lead Paragraph
p.is-style-lead {
	@extend .lead;
}


/* --------------------------------------------------------------
2. core/button. Add styles from UDS-Bootstrap manually.
See: /inc/blocks:93 for explination.
--------------------------------------------------------------*/

// Base class, applied at the <a> tag level.
a.wp-block-button__link {
	@extend .btn;
	@extend .btn-maroon;
	// Default size should be .md
}

// Size modifiers
.wp-block-button.is-style-uds-sm a.wp-block-button__link {
	@extend .btn-sm;
}

.wp-block-button.is-style-uds-md a.wp-block-button__link {
	@extend .btn-md;
}

.wp-block-button.is-style-uds-lg a.wp-block-button__link {
	@extend .btn-lg;
}

// Color modifiers
a.wp-block-button__link {
	&.has-asu-maroon-background-color {
		@extend .btn-maroon;
	}

	&.has-asu-gold-background-color {
		@extend .btn-gold;
	}

	&.has-gray-4-background-color {
		@extend .btn-gray;
	}

	&.has-gray-7-background-color {
		@extend .btn-dark;
	}
}

/*--------------------------------------------------------------
3. core/image
--------------------------------------------------------------*/
@mixin uds-figure {
	img {
		border: 1px solid $uds-color-base-gray-3;
	}

	figcaption {
		border: 1px solid $uds-color-base-gray-3;
		border-top: none;
		opacity: 1;
		background: #fff 0% 0% no-repeat padding-box;
		padding: 0.75rem;
		font-size: .75rem;

		// Default WP figcaption adds margin.
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wp-block-image {

	&.is-style-plain {
		figcaption {
			margin-top: $uds-size-spacing-2;
		}
	}

	&.is-style-uds-figure {
		@include uds-figure;
	}

	&.is-style-drop-shadow {
		@include uds-figure;
		box-shadow: 0rem .5rem 1rem rgba(25, 25, 25, .2);

		figcaption {
			box-shadow: 0rem .5rem 1rem rgba(25, 25, 25, .2);
		}
	}

	&.is-style-circular {
		@include uds-figure;

		img {
			border: none;
			border-radius: 100%;
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}

		figcaption {
			border: none;
			text-align: center;
		}
	}

	/**
	 * Style the anchor tag so that the focus is visible on a linked image.
	 * Display block is OK here. The align-* classes set the alignment directly
	 * on the <img> tag, effectively overriding any display property here.
	 **/
	a {
		display: block;
		width: auto;
		height: auto;
	}
}


// Image alignment classes prevent caption from extending beyond the width
// of the <img> element within the <figure>. Taken from the 2023 theme.

.wp-block-image.aligncenter,
.wp-block-image .aligncenter,
.wp-block-image.alignleft,
.wp-block-image .alignleft,
.wp-block-image.alignright,
.wp-block-image .alignright {
	display: table;
}

.wp-block-image.aligncenter>figcaption,
.wp-block-image .aligncenter>figcaption,
.wp-block-image.alignleft>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image.alignright>figcaption,
.wp-block-image .alignright>figcaption {
	display: table-caption;
	caption-side: bottom;
}

/*--------------------------------------------------------------
4. core/table
--------------------------------------------------------------*/
.wp-block-table {
	@extend .uds-table;
}


/*--------------------------------------------------------------
5. core/divider
--------------------------------------------------------------*/
.wp-block-separator {

	&.is-style-default {
		// The default UDS styles are directly applied to the HR element.
		border-top: 0;
		height: 1px;
		margin: 3rem 0;
		background-color: #d0d0d0;
	}

	&.is-style-copy-divider {

		// Cancels out styles applied to <hr> by Unity Bootstrap
		background-color: transparent;
		height: $uds-size-spacing-2;

		// Applies gold bar style to psudo-element to avoid the use of max-width in the definition.
		&:after {
			content: '';
			height: 0.5rem;
			background-color: #ffc627;
			max-width: 16rem;
			width: 100%;
			position: absolute;
		}
	}
}


/*--------------------------------------------------------------
6. core/post-template
- Provides support for post-column block style, native blocks only.
--------------------------------------------------------------*/
/* Addition of .is-layout-flow here prevents style from taking effect
if the block is configured to use the grid layout instead of flow content. */

.is-style-post-column.is-layout-flow {
	.wp-block-post:not(:first-child) {
		.wp-block-post-featured-image {
			float: inline-start;
			margin-inline-end: $uds-size-spacing-3;
			aspect-ratio: 1;
			width: $uds-size-spacing-10;
			height: $uds-size-spacing-10;
			margin-bottom: 0;

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}
}

/*--------------------------------------------------------------
6. core/group

- Provides support for Story + Thumb (Row) block patterns.
--------------------------------------------------------------*/
@include media-breakpoint-down(sm) {
	.wp-block-group.story-thumb {
		flex-direction: column;

		.wp-block-image {

			&.size-thumbnail,
			&.size-medium {
				img {
					width: 576px; //exact width of $sm breakpoint
				}
			}
		}

		.wp-block-post-featured-image {
			img {
				max-width: 400px !important; //arbitrary measurement
			}
		}
	}
}
