
/*---------------------------------------------------------------
 1. Fix Alert Close button
 To use the existing Javascript in Bootstrap to close alerts, you
 need to use the class 'alert-dismissible'. However, that class
 has some strong opinions on where buttons go. Here we override
 those settings to get UDS styles.
---------------------------------------------------------------*/
.alert-dismissible {
	//Remove alert-dismissible's 4rem right padding in favor of UDS 1rem.
	padding-right: $uds-size-spacing-2;
	& .close {
		//Remove alert-dismissible's absolute button positioning.
		position: relative;
	}
}

.alert-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.alert-close {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

/*---------------------------------------------------------------
 2. Adjust position of icon and close button on XS

 Margins were being applied to both the icon and close button
 on XS, essentially to maximize the room available for text, but
 it ended up putting the icon, text, and close button all on
 different lines - nothing was aligned at all.
---------------------------------------------------------------*/
@media screen and (max-width: $uds-breakpoint-lg) {
	// Ensure some extra space between the content and the close button
	.alert .alert-content {
		margin-right: $uds-size-spacing-2;
	}
	// remove the 1rem top margin that is added to the icon on mobile.
	.alert .alert-icon svg {
		margin-top: 0 !important;
	}

	// Reposition the close button on smaller screens.
	.alert .alert-close {
		// Remove the negative margin on the close button used to move it up and right.
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: 0;
		margin-right: 0;
	}
}


/*--------------------------------------------------------------
3. Adjustments to <main> element top margin. Prevents content from
flowing under header when rendered.

- Also contains adjustments for WP admin bar to set above grey bar when logged in.
--------------------------------------------------------------*/

#wpadminbar+#header-container #asuHeader {
	top: 32px !important;
}

/**
When :has() has greater support, these rules will suffice.
For now, a little bit of JS to add the scroll event to the header wrapper
allows :scrolled: to be an adjacent sibling again.
*/

// #header-container:has(#asuHeader) + main {
// 	margin-top: 135px;
// 	// Actual measurement is btw 139px and 140px. Allows for margin of error.
// }

// #header-container:has(#asuHeader.scrolled) + main {
// 	margin-top: 90px;
// 	// Actual measurement is btw 93px and 94px. Allows for margin of error.
// }

#header-container + main {
	margin-top: 135px;
	// Actual measurement is btw 139px and 140px. Allows for margin of error.
}

#header-container.scrolled + main {
	margin-top: 90px;
	// Actual measurement is btw 93px and 94px. Allows for margin of error.
}

// The admin bar is not at a fixed position on mobile.
// But, since the header is still fixed, the admin bar will overlap the header.
// Fixing the header on mobile prevents further oddness.
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}

/*--------------------------------------------------------------
4. Pagination formatting fix.
- Span tag produces zero padding from default WP.
--------------------------------------------------------------*/

.pagination {
	span.page-link {
		padding: $uds-size-spacing-1 12px;
	}
}

/*--------------------------------------------------------------
5. 404 Error page fixes
--------------------------------------------------------------*/
.error404 div[class^='uds-hero'] .search-form-inline {

	position: relative;

	input[type='search'] {
		width: 300px;

		+label {
			display: block;
			position:absolute;
			left: 12px;
			top: 6px;
			color: $uds-color-base-gray-5;
		}

		&:valid+label {
			display: none;
		}
	}
}

/*--------------------------------------------------------------
6. Border and spacing for index.php site title display.
--------------------------------------------------------------*/
.home .index-title {
	padding-bottom: $uds-size-spacing-2;
	border-bottom: 1px solid $uds-color-base-gray-3;
	margin-bottom: $uds-size-spacing-4;
}
