/*-------------------------------------------------------------------
X. Menus. Change color of draggable menu items that are too deep.
--------------------------------------------------------------------*/

// default error color (in case we ever want to manipulate it within the loop).
$warning-color: #F99;

// create 10 classes to cover menu levels 3 through 13
@for $i from 3 through 13 {

	// target the .menu-item-handle, which is the draggable box.
	.menu-item-depth-#{$i} .menu-item-bar .menu-item-handle {
		// apply our warning color
		background-color: $warning-color;

		// the text 'sub-item' is a sibling span with the class .is-submenu
		// We append some warning text using the ::after psuedo element.
		.is-submenu::after {
			content: ' - too deep!';
		}

			// the item title, by default, as a very wide right marging (13em!)
			// to allow more room for our warning text, we reduce this margin
			.item-title {
				margin-right: 5em;
			}
	}
}
